@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

svg {
    width: 36px;
    height: 36px;
}

path {
    color: white;
}

.center {
    text-align: center;
}